/* Your styles */
body {
    display: flex;
    justify-content: center;
}

h2 {
    text-align: center;
}

.delbtn {
    padding: 0.2rem;
    background: #ccc;
    cursor: pointer;
    margin-left: 0.5rem;
}

li {
    padding: 0.5rem;
}

#newtodo{
    outline: none;
}
.valid {
    border: 2px solid green;
}

.invalid {
    border: 2px solid red;
}

